<div class="row">
    <div class="col-md-6">
        <h2>Search OMDB</h2>
        <div class="input-group col-md-12">
            <input type="text" class="form-control input-lg" placeholder="Movie Name" ng-model='userInput' />
            <span class="input-group-btn">
              <button class="btn btn-info btn-lg" type="button" ng-click='userSearch(userInput)'>
                  <i class="glyphicon glyphicon-search"></i>
              </button>
            </span>
        </div>
    </div>
</div>
